@model JobJump.Models.Job

<div class="card shadow-lg p-4">

    <h2 class="fw-bold">@Model.Title</h2>
    <h5 class="text-muted">@Model.Company</h5>

    <hr />

    <p>@Model.Description</p>

    <div class="mt-4">
        @if (User.IsInRole("Employee"))
        {
            <a asp-action="Apply" asp-route-id="@Model.Id" 
               class="btn btn-success">
                Apply Now
            </a>
        }

        <a asp-action="Index" class="btn btn-secondary">
            Back
        </a>
    </div>

</div>